@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@400;700;900&family=Taviraj:ital,wght@0,400;0,500;1,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
 */

:root {
  /* --color-orange-140: #995400;
  --color-orange-120: #cc7000;
  --color-orange-80: #ffa333;
  --color-orange-60: #ffba66;
  --color-orange-100: #ff8c00;
  --color-yellow-140: #989955;
  --color-yellow-120: #cacc72;
  --color-yellow-80: #fdffa5;
  --color-yellow-60: #feffbb;
  --color-yellow-100: #fdff8e;
  --color-lightgreen-140: #4f6e37;
  --color-lightgreen-120: #6a934a;
  --color-lightgreen-80: #9dc67d;
  --color-lightgreen-60: #b5d49d;
  --color-lightgreen-100: #84b85c;
  --color-beige-140: #95928b;
  --color-beige-120: #c7c3ba;
  --color-beige-80: #faf6ed;
  --color-beige-60: #fbf8f1;
  --color-beige-100: #f9f4e8;
  --color-darkgreen-120: #0b2b12;
  --color-darkgreen-120: #0e3918;
  --color-darkgreen-80: #416c4b;
  --color-darkgreen-60: #719178;
  --color-darkgreen-100: #12471e; */
  --font-size-mobile-button-xl: 20px;
  --font-size-mobile-button: 15px;
  --font-size-mobile-body-xl: 17.5px;
  --font-size-mobile-body: 15px;
  --font-size-mobile-H7: 16px;
  --font-size-mobile-H6: 50px;
  --font-size-mobile-H5: 20px;
  --font-size-mobile-H4: 22px;
  --font-size-mobile-H3: 26px;
  --font-size-mobile-H2: 30px;
  --font-size-mobile-H1: 38px;

  --font-family-body: "Taviraj", serif;
  --font-family-headings: "Chivo", sans-serif;
  --letter-spacing-2: 2px;
  --letter-spacing-1: 1px;
  --letter-spacing-4: 4px;
  --letter-spacing-3: 3px;
  --font-weight-black: 900;
  --font-weight-bold: 700;
  --font-weight-regular: 400;

  --font-size-web-button-xl: 24px;
  --font-size-web-button: 20px;
  --font-size-web-body-xl: 20px;
  --font-size-web-body: 17px;
  --font-size-web-H7: 18px;
  --font-size-web-H6: 140px;
  --font-size-web-H5: 26px;
  --font-size-web-H4: 36px;
  --font-size-web-H3: 40px;
  --font-size-web-H2: 60px;
  --font-size-web-H1: 80px;
}

html {
  background-color: #f9f4e8;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-mobile-body);
  font-family: var(--font-family-body) !important;
}

h1 {
  font-size: var(--font-size-mobile-H1);
  font-weight: var(--font-weight-black);
  font-family: "Chivo", sans-serif;
  margin-bottom: 1rem;
}
h2 {
  font-size: var(--font-size-mobile-H2);
  font-weight: var(--font-weight-black);
  font-family: "Chivo", sans-serif;
}
h3 {
  font-size: var(--font-size-mobile-H3);
  font-weight: var(--font-weight-black);
  font-family: "Chivo", sans-serif;
}
h4 {
  font-size: var(--font-size-mobile-H4);
  font-weight: var(--font-weight-bold);
  font-family: "Chivo", sans-serif;
}
h5 {
  font-size: var(--font-size-mobile-H5);
  font-weight: var(--font-weight-bold);
  font-family: "Chivo", sans-serif;
}
h6 {
  font-size: var(--font-size-mobile-H6);
  font-weight: var(--font-weight-black);
  font-family: "Chivo", sans-serif;
}
h7 {
  font-size: var(--font-size-mobile-H7);
  font-weight: var(--font-weight-bold);
}

a {
  font-size: var(--font-size-mobile-button);
  font-family: "Chivo", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  line-height: 1;
  font-family: var(--font-family-headings);
}

@media (min-width: 640px) {
  h1 {
    font-size: var(--font-size-web-H1);
  }
  h2 {
    font-size: var(--font-size-web-H2);
  }
  h3 {
    font-size: var(--font-size-web-H3);
  }
  h4 {
    font-size: var(--font-size-web-H4);
  }
  h5 {
    font-size: var(--font-size-web-H5);
  }
  h6 {
    font-size: var(--font-size-web-H6);
  }
  h7 {
    font-size: var(--font-size-web-H7);
  }
  body {
    font-size: var(--font-size-web-body);
  }
  a {
    font-size: var(--font-size-web-button);
  }
}

main {
  background-color: #f9f4e8;
}

ul {
  padding-left: 40px;
  padding-bottom: 1rem;
}

.square {
  width: 5px;
  height: 5px;
  background-color: black;
}

.button-trans-light {
  background-color: none;
  transition: 300ms;
  border: 1px solid #f9f4e8;
  border-radius: 6px;
  color: #f9f4e8;
}

.button-trans-light:hover {
  background-color: #f9f4e8;
  transition: 300ms;
  color: #12471e;
  border: 1px solid #12471e;
}

.button-trans-light:active {
  background-color: #12471e;
  color: #f9f4e8;
  box-shadow: none;
}

.button-trans {
  background-color: none;
  transition: 300ms;
  border: 1px solid #12471e;
  border-radius: 6px;
  color: #12471e;
}

.button-trans:hover {
  background-color: #12471e;
  transition: 300ms;
  color: #f9f4e8;
  border: 1px solid #12471e;
}

.button-trans:active {
  background-color: #12471e;
  color: #f9f4e8;
  box-shadow: none;
}

.button-hero {
  background-color: none;
  transition: 300ms;
  border: 1px solid #f9f4e8;
  border-radius: 6px;
  color: #f9f4e8;
  font-size: 24px;
}

.button-hero:hover {
  background-color: #f9f4e8;
  transition: 300ms;
  color: #12471e;
  border: 1px solid #12471e;
}

.button-hero:active {
  background-color: #12471e;
  color: #f9f4e8;
  box-shadow: none;
}

.button-block {
  position: relative;
  z-index: 2;
  color: #12471e;
  overflow: hidden;
  transition: color 150ms;
}

.button-block:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #12471e;
  aspect-ratio: 1 / 1;
  width: 100%;
  transition: 500ms ease-in-out;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-block:hover:before {
  transform: translate(-50%, -50%) scale(1);
}

.button-block:hover {
  color: white;
  transition: color 250ms 250ms;
}

.infoCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.infoCard {
  /* flex: 1; */
  display: flex;
  transition: all;
  transition-duration: 300ms;
  /* grid-template-columns: 50% 0px; */
  /* overflow: hidden; */
}

.selected {
  font-weight: bold;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  gap: 40px;
}
.embla__slide {
  flex: 0 0 33.33%;
  min-width: 0;
  max-width: 100%; /* Prevent from growing larger than viewport */
}

/* #instafeed-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 4rem;
  justify-content: center;
  padding: 4rem;
  box-sizing: border-box;
} */

#instafeed-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  gap: 2rem;
}

#instafeed-container img {
  width: 400px; /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */
  object-fit: cover;
  border-radius: 6px;
}

/* PAGINATION */
.pagination-disabled {
  background: transparent;
  border: #12471e 1px solid;
  color: #12471e !important;
  cursor: not-allowed;
}

.description {
  width: 0%;
  transition: width 0.3s ease-in;
  height: 100px;
}

.visible {
  width: 100%;
  height: 100px;
}

/*  */

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card .flip-card-inner h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.flip-card:hover .flip-card-inner h3 {
  opacity: 0;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #f9f4e8;
  color: white;
  transform: rotateY(180deg);
}

.green-gradient {
  background: linear-gradient(
    180deg,
    rgba(18, 71, 30, 0) 0%,
    rgba(18, 71, 30, 1) 15%,
    rgba(18, 71, 30, 1) 85%,
    rgba(18, 71, 30, 0) 100%
  );
}
